.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    font-size: 16px;
    padding: 0 8px;
    cursor: pointer;
    font-weight: 700;
    
}

.previous,
.next {
    font-size: 20px;
    cursor: pointer;
background-color: aliceblue;
}

.previous {
    margin-right: 6px;
}

.next {
    margin-left: 6px;
}

.activePage {
background-color: #ffffff;
color: #000;
border-radius: 20px;
}

.disabledPage{
    cursor: not-allowed;
    }